[submodule "Libraries/libspatialaudio"]
	path = Libraries/libspatialaudio
	url = https://github.com/peterStitt/libspatialaudio.git
[submodule "Libraries/libmysofa"]
	path = Libraries/libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "Resources/pd.cmake"]
	path = Resources/pd.cmake
	url = https://github.com/pure-data/pd.cmake
