[submodule "Resources/pd.build"]
	path = Resources/pd.build
	url = https://github.com/charlesneimog/pd.build
[submodule "Libraries/libspatialaudio"]
	path = Libraries/libspatialaudio
	url = https://github.com/videolabs/libspatialaudio.git
